<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('build/init.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>

            <script>
                console.log($('body'));
            </script>
        {% endblock %}
    </body>
</html>
